/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
	
	/* Extra large 1400 devices */
	@media only screen and (min-width: 1400px) {
		html {
			font-size: 18px;
		}
		#masthead #photo {
			height: 175px;
			width: 330px;
			margin: auto;
			margin-top: 5px;
		}
		#search_form {
			margin-top: 5px;
		}
		#search_query {
			width: 293px;
			/*padding: 3px 4px 3px 5px;*/
			padding: 4px 5px;
			height: 17px; 
		}
		#search_submit {
			width: 27px;
			height: 25px;
		}
		
		#lightbox #outerImageContainer, #lightbox #imageDataContainer {
			max-width: 1300px !important;
			height: auto !important;
			font-size: 0;
		}
		#lightbox #lightboxImage {
			max-width: 1280px !important;
		}
	}
	
	/* Smaller than extra large 1400 devices */
	@media only screen and (max-width: 1400px) { }
	
	/* Large 1200 devices */
	@media only screen and (min-width: 1200px) and (max-width: 1399px) {
		html {
			font-size: 17px;
		}
		#masthead #photo {
			height: 149px;
			width: 280px;
			margin: auto;
			margin-top: 5px;
		}
		#search_form {
			margin-top: 5px;
		}
		#search_query {
			width: 243px;
			/*padding: 3px 4px 3px 5px;*/
			padding: 4px 5px;
			height: 17px; 
		}
		#search_submit {
			width: 27px;
			height: 25px;
		}
		#lightbox #outerImageContainer, #lightbox #imageDataContainer {
			max-width: 1100px !important;
			height: auto !important;
			font-size: 0;
		}
		#lightbox #lightboxImage {
			max-width: 1180px !important;
		}
	}
	
	/* Smaller than large 1200 devices */
	@media only screen and (max-width: 1199px) { }
	
	/* Standard 960 (devices and browsers) */
	@media only screen and (min-width: 960px) and (max-width: 1199px) {
		html {
			font-size: 16px;
		}
		#masthead #photo {
			height: 117px;
			width: 220px;
			margin: auto;
			margin-top: 5px;
		}
		#search_form {
			margin-top: 5px;
		}
		#search_query {
			width: 183px;
			/*padding: 3px 4px 3px 5px;*/
			padding: 4px 5px;
			height: 17px;
		}
		#search_submit {
			width: 27px;
			height: 25px;
		}
		#lightbox #outerImageContainer, #lightbox #imageDataContainer {
			max-width: 900px !important;
			height: auto !important;
			font-size: 0;
		}
		#lightbox #lightboxImage {
			max-width: 880px !important;
		}
	}
	
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		html {
			font-size: 15px;
		}
		#masthead #photo {
			height: 92px;
			width: 172px;
			margin: auto;
			margin-top: 5px;
		}
		#search_form {
			margin-top: 5px;
		}
		#search_query {
			width: 135px;
			/*padding: 3px 4px 3px 5px;*/
			padding: 4px 5px;
			height: 17px; 
		}
		#search_submit {
			width: 27px;
			height: 25px;
		}
		#lightbox #outerImageContainer, #lightbox #imageDataContainer {
			max-width: 740px !important;
			height: auto !important;
			font-size: 0;
		}
		#lightbox #lightboxImage {
			max-width: 720px !important;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		html {
			font-size: 14px;
		}
		.no-mobile {
			display: none;
		}
		.mob-vis {
		/*	padding: 5px;
			background-color: #ddd;*/
		}
		
		#menu-icon {
			display:inline-block;
			float: left;
		}
		
		nav {
			width: 100%;
		}
		
		nav ul {
		
		}
		
		nav ul li {
			text-align: center;
			width: 100%;
			margin: auto;
			float: left;
		}
		
		nav ul li:hover {
		
		}
		
		nav ul li a {
			color: #003051;
		}

		nav #topnav, nav:active #topnav {
			display: none;
			position: absolute;
			padding: 10px 20px;
			background: #f6f6f6;
		}
		nav #subnav, nav:active #subnav {
			display: none;
			position: absolute;
			padding: 10px 20px;
			background: #f1f1f1;
		}
	
		nav:hover #topnav, nav:hover #subnav {
			display: block;
		}
	
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#search_form {
			padding: 5px;
			background-color: #ddd;
		}
		#search_query {
			width: 373px;
			/*padding: 3px 4px 3px 5px;*/
			padding: 4px 5px;
			height: 17px; 
		}
		#search_submit {
			width: 27px;
			height: 25px;
		}
		.offset-by.half {
			/*padding-left: 10px;*/
		}
		.mob-half {
			/*padding-left: 10px;*/
		}
		
		nav #topnav, nav:active #topnav {
			left: 40px;
			top: 3px;
			width: 150px;
			height: auto !important;
			/*border-radius: 4px 0 4px 4px;*/
		}
		nav #subnav, nav:active #subnav {
			left: 230px;
			top: 0;
			margin-top: 3px;
			width: 150px;
			height: auto !important;
			/*border-radius: 4px 0 4px 4px;*/
		}
		#lightbox #outerImageContainer, #lightbox #imageDataContainer {
			max-width: 450px !important;
			height: auto !important;
			font-size: 0;
		}
		#lightbox #lightboxImage {
			max-width: 430px !important;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		html {
			font-size: 13px;
		}
		#search_form {
			padding: 5px;
			background-color: #ddd;
		}
		#search_query {
			width: 253px;
			/*padding: 3px 4px 3px 5px;*/
			padding: 4px 5px;
			height: 17px; 
		}
		#search_submit {
			width: 27px;
			height: 25px;
		}
		.offset-by.half {
			/*padding-left: 20px;*/
		}
		.mob-half {
			/*padding-left: 20px;*/
		}
		nav #topnav, nav:active #topnav {
			left: 40px;
			top: 3px;
			width: 90px;
			height: auto !important;
			/*border-radius: 4px 0 4px 4px;*/
		}
		nav #subnav, nav:active #subnav {
			left: 170px;
			top: 0;
			margin-top: 3px;
			width: 90px;
			height: auto !important;
			/*border-radius: 4px 0 4px 4px;*/
		}
		#lightbox #outerImageContainer, #lightbox #imageDataContainer {
			max-width: 280px !important;
			height: auto !important;
			font-size: 0;
		}
		#lightbox #lightboxImage {
			max-width: 260px !important;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
